h9 {
    color:rgb(1, 12, 4);
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-weight: bold;
}

img {
    max-width: 100%;
}

.column {
    display: inline-block;
    width: 49.89%;
}

.col1 {
    background-color: red;
}

.col2 {
    background-color: pink;
}

.title {
    font-size: 45px;
    text-align: center;
}

.col1 h9 {
    color: white;
}

.col1 img {
    display: block;
}

/**Hero section**/
.hero {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
}

.intro {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

/**About section**/
.container {
    max-width: 1200px;
    display: block;
    margin: auto;
}

.col-30 {
    width: 27%;
}

.col-70 {
    width: 69%;
}

.content {
    padding-left: 0px;
    padding-top: 0px;
    vertical-align: top;
}

@media screen and (max-width: 767px) {
    .column {
        display: block;
        width: 100%;
    }
}

.no-list, .nav-items {
    list-style: none;
    padding: 0%;
}

.nav-items li {
    display: inline-block;
    width: 24.83%;    
}

.logo {
    width: 35%;
    display: block;
}

.nav-items li:hover {
    background-color: yellow;
    cursor: pointer;
}

#one {
    text-align: center;
}

#two {
    text-align: center;
}

#subway {
    width: 89.5%;
}

.about {
    background-color: rgb(252, 255, 97);
}

#top {
    background-color: aqua;
    display: block;
    max-width: none;
    text-align: center;
}

#request {
    width: 40%;
    display: inline-block;
}

/* Dropdown Button */
.dropbtn {
    background-color: #3460db;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button hover */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  /* dropdown container*/
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* dropdown text */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

.Switch {
    background-color: red;
}

.Xbox {
    background-color: green;
}

.PS4 {
    background-color: rgb(63, 101, 254);
}

.switchcase {
    display: block;
    max-width: 31.87%;
}